In [3]:
import pandas as pd
import numpy as np
names = pd.Series(['Namjoon','seokjin','yoongi','hoseok','jimin','taehyung','jungkook'])
print(names)
names.isnull()

0     Namjoon
1     seokjin
2      yoongi
3      hoseok
4       jimin
5    taehyung
6    jungkook
dtype: object

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [18]:
from numpy import nan
data = pd.Series([nan,1,nan])
print(data.isnull())
print(data.dropna(inplace=True))
data

0     True
1    False
2     True
dtype: bool
None

1    1.0
dtype: float64

In [32]:
data = pd.DataFrame([[1,nan,0],
       [nan,nan,nan],
       [0,0,1]])
print(data)
print()
print(data.isnull())
print()
print(data.dropna(how='all'))
print()
print(data.dropna(how='any'))
print()
print(data.dropna(how='all',axis=1))

     0    1    2
0  1.0  NaN  0.0
1  NaN  NaN  NaN
2  0.0  0.0  1.0

       0      1      2
0  False   True  False
1   True   True   True
2  False  False  False

     0    1    2
0  1.0  NaN  0.0
2  0.0  0.0  1.0

     0    1    2
2  0.0  0.0  1.0

     0    1    2
0  1.0  NaN  0.0
1  NaN  NaN  NaN
2  0.0  0.0  1.0

In [36]:
data={'name':['RM','Jin','Suga','Jhope','Jimin','V','Jungkook'],
     'Collab':['Youjeen','Cold play','PSY','Crush',nan,nan,'Fahad']}
df=pd.DataFrame(data)
df
print(df.isnull())
print()
print(df.dropna())

    name  Collab
0  False   False
1  False   False
2  False   False
3  False   False
4  False    True
5  False    True
6  False   False

       name     Collab
0        RM    Youjeen
1       Jin  Cold play
2      Suga        PSY
3     Jhope      Crush
6  Jungkook      Fahad

In [41]:
print(df.fillna('Coming soon'))

       name       Collab
0        RM      Youjeen
1       Jin    Cold play
2      Suga          PSY
3     Jhope        Crush
4     Jimin  Coming soon
5         V  Coming soon
6  Jungkook        Fahad

In [50]:
df.fillna(method='ffill',limit=2)

       name     Collab
0        RM    Youjeen
1       Jin  Cold play
2      Suga        PSY
3     Jhope      Crush
4     Jimin      Crush
5         V      Crush
6  Jungkook      Fahad

In [53]:
from numpy import nan as NA

df=pd.DataFrame([[1,6.5,3.],[1,6.5,3.],[NA,NA,NA],[NA,6.6,3.]])
df[4]=pd.Series([1,1.0,NA,NA])
print(df)
df1=df.drop_duplicates()
print(df1)
df1=df.drop_duplicates(keep='last')
print(df1)

     0    1    2    4
0  1.0  6.5  3.0  1.0
1  1.0  6.5  3.0  1.0
2  NaN  NaN  NaN  NaN
3  NaN  6.6  3.0  NaN
     0    1    2    4
0  1.0  6.5  3.0  1.0
2  NaN  NaN  NaN  NaN
3  NaN  6.6  3.0  NaN
     0    1    2    4
1  1.0  6.5  3.0  1.0
2  NaN  NaN  NaN  NaN
3  NaN  6.6  3.0  NaN

In [54]:
import pandas as pd
data=pd.DataFrame({'food':['bacon','pulled pork','bacon','pastrami','corned beef','Bacon',
                          'pastrami','honey ham','nova lox'],
                  'ounces':[4,3,12,6,7.5,8,3,5,6]})
print(data)

meat_to_animal={
    'bacon':'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}
print(meat_to_animal)

lc=data['food'].str.lower()
print(lc)
data['animal']=lc.map(meat_to_animal)
print(data)

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0
{'bacon': 'pig', 'pulled pork': 'pig', 'pastrami': 'cow', 'corned beef': 'cow', 'honey ham': 'pig', 'nova lox': 'salmon'}
0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object
          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [67]:
data  = pd.DataFrame({'name':['RM','Jin','Suga','Jhope','Jimin','V','Jungkook']})
lc = data['name']
positions = {'Jimin':'Vocalist','Jin':'Vocalist','RM':'Rapper',
            'Jungkook':'Vocalist','Jhope':'Rapper','V':'Vocalist','Suga':'Rapper'}
data['Positions']=lc.map(positions)
print(data)

       name Positions
0        RM    Rapper
1       Jin  Vocalist
2      Suga    Rapper
3     Jhope    Rapper
4     Jimin  Vocalist
5         V  Vocalist
6  Jungkook  Vocalist

In [72]:
print(data.replace(['Vocalist','Rapper'],['Vocals','Rap']))
print()
print(data.replace(['Vocals','Rap'],['Vocalist','Rapper']))

       name Positions
0        RM       Rap
1       Jin    Vocals
2      Suga       Rap
3     Jhope       Rap
4     Jimin    Vocals
5         V    Vocals
6  Jungkook    Vocals

       name Positions
0        RM    Rapper
1       Jin  Vocalist
2      Suga    Rapper
3     Jhope    Rapper
4     Jimin  Vocalist
5         V  Vocalist
6  Jungkook  Vocalist