In [96]:
import pandas as pd

df = pd.read_csv('../Downloads/National_Universities_Rankings.csv')
pd.set_option('display.max_columns',8)
pd.set_option('display.max_rows',231)
df

,index,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
0,0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...","$45,320",NaN,"5,402"
1,1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...","$47,074",NaN,"6,699"
2,2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...","$52,491",NaN,"5,844"
3,3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...","$49,480",NaN,"5,532"
4,4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...","$55,056",NaN,"6,102"
5,5,Stanford University,"Stanford, CA",5,Stanford University's pristine campus is locat...,"$47,940",NaN,"6,999"
6,6,Massachusetts Institute of Technology,"Cambridge, MA",7,"MIT is located in Cambridge, Massachusetts, ac...","$48,452",NaN,"4,527"
7,7,Duke University,"Durham, NC",8,"Durham, North Carolina, which surrounds Duke's...","$51,265",NaN,"6,639"
8,8,University of Pennsylvania,"Philadelphia, PA",8,"The University of Pennsylvania, located in Phi...","$51,464",NaN,"9,726"
9,9,Johns Hopkins University,"Baltimore, MD",10,Johns Hopkins University has four main campuse...,"$50,410",NaN,"6,524"
10,10,Dartmouth College,"Hanover, NH",11,"Dartmouth College, located in Hanover, New Ham...","$51,438",NaN,"4,307"
11,11,California Institute of Technology,"Pasadena, CA",12,"Caltech, which focuses on science and engineer...","$47,577",NaN,"1,001"
12,12,Northwestern University,"Evanston, IL",12,What began as farmland and swampland in the 18...,"$50,855",NaN,"8,314"
13,13,Brown University,"Providence, RI",14,"Located atop College Hill in Providence, R.I.,...","$51,367",NaN,"6,652"
14,14,Cornell University,"Ithaca, NY",15,"Cornell University, located in Ithaca, New Yor...","$50,953",NaN,"14,315"
15,15,Rice University,"Houston, TX",15,"Rice University, located in the heart of Houst...","$43,918",NaN,"3,910"
16,16,University of Notre Dame,"Notre Dame, IN",15,"Notre Dame is located in South Bend, Ind., jus...","$49,685",NaN,"8,462"
17,17,Vanderbilt University,"Nashville, TN",15,Vanderbilt University offers a wide range of s...,"$45,610",NaN,"6,883"
18,18,Washington University in St. Louis,"St. Louis, MO",19,Washington University in St. Louis is located ...,"$49,770",NaN,"7,504"
19,19,Emory University,"Atlanta, GA",20,Emory University is located in the suburb of D...,"$47,954",NaN,"6,867"
20,20,Georgetown University,"Washington, DC",20,Georgetown University is situated overlooking ...,"$50,547",NaN,"7,562"
21,21,University of California--Berkeley,"Berkeley, CA",20,"The University of California--Berkeley, often ...","$40,191","$13,509","27,496"
22,22,University of Southern California,"Los Angeles, CA",23,The University of Southern California's centra...,"$52,217",NaN,"18,810"
23,23,Carnegie Mellon University,"Pittsburgh, PA",24,"Carnegie Mellon University, founded by industr...","$52,040",NaN,"6,454"
24,24,University of California--Los Angeles,"Los Angeles, CA",24,"The University of California--Los Angeles, com...","$39,518","$12,836","29,585"
25,25,University of Virginia,"Charlottesville, VA",24,"Founded by Thomas Jefferson, the University of...","$45,066","$15,722","16,736"
26,26,Tufts University,"Medford, MA",27,Tufts University is located in the Medford/Som...,"$52,430",NaN,"5,290"
27,27,University of Michigan--Ann Arbor,"Ann Arbor, MI",27,The University of Michigan boasts one of the b...,"$43,476","$13,856","28,312"
28,28,Wake Forest University,"Winston-Salem, NC",27,Wake Forest University is located in Winston-S...,"$49,308",NaN,"4,871"
29,29,University of North Carolina--Chapel Hill,"Chapel Hill, NC",30,"The University of North Carolina--Chapel Hill,...","$33,916","$8,834","18,415"
30,30,Boston College,"Chestnut Hill, MA",31,Boston College was founded by the Society of J...,"$51,296",NaN,"9,192"
31,31,College of William & Mary,"Williamsburg, VA",32,The College of William and Mary is second olde...,"$41,718","$18,687","6,301"
32,32,University of Rochester,"Rochester, NY",32,The University of Rochester describes itself a...,"$50,142",NaN,"6,304"
33,33,Brandeis University,"Waltham, MA",34,"Brandeis University is located in Waltham, Mas...","$51,570",NaN,"3,621"
34,34,Georgia Institute of Technology,"Atlanta, GA",34,"Georgia Tech, located in the heart of Atlanta,...","$32,404","$12,212","15,142"
35,35,New York University,"New York, NY",36,New York University's primary campus is locate...,"$49,062",NaN,"25,722"
36,36,Case Western Reserve University,"Cleveland, OH",37,Case Western Reserve University is known for i...,"$46,006",NaN,"5,121"
37,37,University of California--Santa Barbara,"Santa Barbara, CA",37,Located 100 miles up the coast from Los Angele...,"$40,704","$14,022","20,607"
38,38,Boston University,"Boston, MA",39,Boston University is one of the largest indepe...,"$50,240",NaN,"17,932"
39,39,Northeastern University,"Boston, MA",39,"At Northeastern University, students gain subs...","$47,655",NaN,"13,697"
40,40,Rensselaer Polytechnic Institute,"Troy, NY",39,Rensselaer Polytechnic Institute was founded o...,"$50,797",NaN,"5,864"
41,41,Tulane University,"New Orleans, LA",39,"At Tulane University, located in New Orleans, ...","$51,010",NaN,"6,662"
42,42,University of California--Irvine,"Irvine, CA",39,On the sunny campus of the University of Calif...,"$39,458","$14,750","25,256"
43,43,Lehigh University,"Bethlehem, PA",44,"Lehigh University is located in Bethlehem, Pa....","$48,320",NaN,"5,075"
44,44,University of California--Davis,"Davis, CA",44,"The University of California--Davis, one of 10...","$40,728","$14,046","28,384"
45,45,University of California--San Diego,"La Jolla, CA",44,The University of California--San Diego lies a...,"$41,387","$14,705","26,590"
46,46,University of Illinois--Urbana-Champaign,"Champaign, IL",44,The University of Illinois is located in the t...,"$31,320","$15,698","33,368"
47,47,University of Miami,"Coral Gables, FL",44,"Located in Southern Florida, the University of...","$47,004",NaN,"11,122"
48,48,University of Wisconsin--Madison,"Madison, WI",44,The University of Wisconsin--Madison lies alon...,"$32,738","$10,488","31,662"
49,49,Pepperdine University,"Malibu, CA",50,Squeezed in among the Santa Monica Mountain fo...,"$50,022",NaN,"3,533"
50,50,University of Florida,"Gainesville, FL",50,The University of Florida is about two miles a...,"$28,666","$6,389","35,043"
51,51,Villanova University,"Villanova, PA",50,"Villanova University, named for the Spanish Au...","$49,280",NaN,"6,994"
52,52,Pennsylvania State University--University Park,"University Park, PA",50,There is rarely a dull moment on the Pennsylva...,"$32,382","$17,900","40,742"
53,53,Ohio State University--Columbus,"Columbus, OH",54,"Located in the state capital of Columbus, The ...","$29,229","$10,037","45,289"
54,54,University of Washington,"Seattle, WA",54,Located in the University District neighborhoo...,"$34,791","$10,753","31,063"
55,55,George Washington University,"Washington, DC",56,George Washington University's urban location ...,"$51,950",NaN,"11,157"
56,56,Southern Methodist University,"Dallas, TX",56,"Despite its name, this private university in D...","$50,358",NaN,"6,411"
57,57,University of Georgia,"Athens, GA",56,"At its founding, The University of Georgia mad...","$29,844","$11,634","27,547"
58,58,University of Texas--Austin,"Austin, TX",56,"Everything is bigger in Texas, as the saying g...","$34,676","$9,806","39,619"
59,59,Fordham University,"New York, NY",60,"At Fordham University, ""New York is [your] cam...","$47,317",NaN,"8,855"
60,60,Purdue University--West Lafayette,"West Lafayette, IN",60,"Purdue University's West Lafayette, Indiana, c...","$28,804","$10,002","29,497"
61,61,Syracuse University,"Syracuse, NY",60,Few schools are associated with a color as str...,"$45,022",NaN,"15,196"
62,62,University of Connecticut,"Storrs, CT",60,"The University of Connecticut, located in Stor...","$35,858","$14,066","18,826"
63,63,University of Maryland--College Park,"College Park, MD",60,"Located between Washington, D.C., and Baltimor...","$32,045","$10,181","27,443"
64,64,Worcester Polytechnic Institute,"Worcester, MA",60,"Among the 10 colleges located in Worcester, Ma...","$46,994",NaN,"4,299"
65,65,Clemson University,"Clemson, SC",66,"As a student at Clemson, get ready to love the...","$32,796","$14,240","18,016"
66,66,Yeshiva University,"New York, NY",66,Yeshiva University is Jewish institution in Ne...,"$40,670",NaN,"2,744"
67,67,Brigham Young University--Provo,"Provo, UT",68,Student life centers on religion and responsib...,"$5,300",NaN,"30,221"
68,68,University of Pittsburgh,"Pittsburgh, PA",68,"Located in the Oakland neighborhood, Pitt's ca...","$29,758","$18,618","18,908"
69,69,Rutgers University--New Brunswick,"Piscataway, NJ",70,For high school students who can't decide what...,"$30,023","$14,372","35,484"
70,70,Baylor University,"Waco, TX",71,The student community at Baylor University is ...,"$42,006",NaN,"14,189"
71,71,Stevens Institute of Technology,"Hoboken, NJ",71,Innovation and entrepreneurship is stressed at...,"$48,838",NaN,"2,873"
72,72,University of Minnesota--Twin Cities,"Minneapolis, MN",71,The University of Minnesota stretches across a...,"$22,210","$13,790","34,071"
73,73,American University,"Washington, DC",74,Students at American University benefit from t...,"$44,853",NaN,"7,909"
74,74,Clark University,"Worcester, MA",74,"Clark University in Worcester, Mass., is a sma...","$43,150",NaN,"2,397"
75,75,Texas A&M University--College Station,"College Station, TX",74,Ready to be an Aggie? All students assume the ...,"$28,768","$10,176","48,960"
76,76,University of Massachusetts--Amherst,"Amherst, MA",74,The University of Massachusetts--Amherst is th...,"$30,123","$13,790","22,748"
77,77,Virginia Tech,"Blacksburg, VA",74,"At Virginia Tech, a former military institute ...","$29,371","$12,852","25,384"
78,78,Miami University--Oxford,"Oxford, OH",79,Miami University students make up nearly half ...,"$31,592","$14,288","16,387"
79,79,University of California--Santa Cruz,"Santa Cruz, CA",79,"At the University of California--Santa Cruz, o...","$40,241","$13,559","16,231"
80,80,University of Delaware,"Newark, DE",79,For students interested in attending the Unive...,"$31,420","$12,520","18,322"
81,81,Colorado School of Mines,"Golden, CO",82,"For students who want to work in the sciences,...","$34,828","$17,383","4,608"
82,82,Michigan State University,"East Lansing, MI",82,Michigan State University is a powerhouse inst...,"$39,090","$14,070","39,143"
83,83,Texas Christian University,"Fort Worth, TX",82,Texas Christian University is the biggest reli...,"$42,670",NaN,"8,894"
84,84,University of Iowa,"Iowa City, IA",82,The University of Iowa offers top-notch academ...,"$28,413","$8,325","23,357"
85,85,Binghamton University--SUNY,"Binghamton, NY",86,Outdoor recreation abounds in the southeastern...,"$22,164","$9,044","13,491"
86,86,Indiana University--Bloomington,"Bloomington, IN",86,"No one quite knows what a ""Hoosier"" is, but a ...","$34,246","$10,388","38,364"
87,87,Marquette University,"Milwaukee, WI",86,"Marquette University, a private Catholic, Jesu...","$38,470",NaN,"8,334"
88,88,University of Denver,"Denver, CO",86,Whether a student is looking for outdoor recre...,"$46,362",NaN,"5,758"
89,89,University of San Diego,"San Diego, CA",86,The University of San Diego is a Roman Catholi...,"$46,140",NaN,"5,647"
90,90,University of Tulsa,"Tulsa, OK",86,Students at the University of Tulsa leave with...,"$38,796",NaN,"3,478"
91,91,Florida State University,"Tallahassee, FL",92,Florida State University is a sprawling public...,"$24,673","$9,507","32,706"
92,92,North Carolina State University--Raleigh,"Raleigh, NC",92,"North Carolina State University, also known as...","$26,399","$8,880","24,111"
93,93,University of Colorado--Boulder,"Boulder, CO",92,"The University of Colorado Boulder, called CUÅ’...","$35,079","$11,531","27,010"
94,94,University of Vermont,"Burlington, VT",92,Nestled between the Adirondack and Green Mount...,"$40,364","$17,300","10,973"
95,95,Drexel University,"Philadelphia, PA",96,Students at Drexel University can get a mix of...,"$51,030",NaN,"14,138"
96,96,Saint Louis University,"St. Louis, MO",96,"St. Louis University is a Catholic, Jesuit sch...","$40,726",NaN,"8,248"
97,97,Stony Brook University--SUNY,"Stony Brook, NY",96,Stony Brook University is one of 64 schools in...,"$26,266","$9,026","16,831"
98,98,Auburn University,"Auburn, AL",99,"Auburn, Alabama, has been ranked one of the be...","$28,840","$10,696","21,786"
99,99,Loyola University Chicago,"Chicago, IL",99,"Loyola University Chicago, or Loyola Chicago, ...","$41,384",NaN,"11,079"
100,100,SUNY College of Environmental Science and Fore...,"Syracuse, NY",99,The SUNY College of Environmental Science and ...,"$17,620","$7,770","1,839"
101,101,University at Buffalo--SUNY,"Buffalo, NY",99,"Founded in 1846, University at Buffalo--SUNY i...","$26,270","$9,770","19,951"
102,102,Illinois Institute of Technology,"Chicago, IL",103,"The Illinois Institute of Technology, a privat...","$45,214",NaN,"2,991"
103,103,University of Alabama,"Tuscaloosa, AL",103,As the flagship campus of the University of Al...,"$26,950","$10,470","31,958"
104,104,University of Oregon,"Eugene, OR",103,"The University of Oregon, or UO for short, is ...","$33,442","$10,762","20,538"
105,105,University of Tennessee,"Knoxville, TN",103,The University of Tennessee is a public resear...,"$30,858","$12,668","21,863"
106,106,Rochester Institute of Technology,"Rochester, NY",107,"Despite its name, the Rochester Institute of T...","$38,568",NaN,"12,607"
107,107,University of New Hampshire,"Durham, NH",107,The University of New Hampshire is a public in...,"$31,424","$17,624","13,034"
108,108,University of San Francisco,"San Francisco, CA",107,The University of San Francisco is a Jesuit in...,"$44,494",NaN,"6,782"
109,109,University of South Carolina,"Columbia, SC",107,The University of South Carolina eases its stu...,"$31,282","$11,854","25,237"
110,110,Iowa State University,"Ames, IA",111,"Iowa State University dwarfs Ames, the small t...","$21,483","$7,969","30,034"
111,111,University of Dayton,"Dayton, OH",111,"The University of Dayton is a private, Catholi...","$40,940",NaN,"8,665"
112,112,University of Missouri,"Columbia, MO",111,Students at the University of Missouri live in...,"$25,892","$9,518","27,812"
113,113,University of Nebraska--Lincoln,"Lincoln, NE",111,There are about 150 majors to choose from at t...,"$23,148","$8,628","20,182"
114,114,University of Oklahoma,"Norman, OK",111,"The University of Oklahoma, known as OU for sh...","$21,451","$8,065","22,132"
115,115,University of the Pacific,"Stockton, CA",111,The University of the Pacific is a private uni...,"$44,588",NaN,"3,735"
116,116,University of Utah,"Salt Lake City, UT",111,"The University of Utah, known as the U of U or...","$27,039","$8,518","23,794"
117,117,Michigan Technological University,"Houghton, MI",118,Michigan Technological University is located i...,"$30,968","$14,634","5,721"
118,118,Seton Hall University,"South Orange, NJ",118,"Seton Hall University is a private, Catholic s...","$39,258",NaN,"6,090"
119,119,Temple University,"Philadelphia, PA",118,"Temple University is a large, urban college in...","$25,994","$15,688","28,609"
120,120,University of California--Riverside,"Riverside, CA",118,"Despite its setting in Southern California, UC...","$40,263","$13,581","18,608"
121,121,University of Kansas,"Lawrence, KS",118,"Founded in 1865, University of Kansas is a pub...","$25,932","$10,549","19,245"
122,122,University of St. Thomas,"St. Paul, MN",118,"Founded in 1885, University of St. Thomas is a...","$39,594",NaN,"6,240"
123,123,The Catholic University of America,"Washington, DC",124,"Catholic University of America, as its name su...","$42,536",NaN,"3,480"
124,124,DePaul University,"Chicago, IL",124,DePaul University has five campuses in and aro...,"$37,626",NaN,"15,961"
125,125,Duquesne University,"Pittsburgh, PA",124,"Founded in 1878, Duquesne University is a priv...","$35,062",NaN,"5,961"
126,126,Howard University,"Washington, DC",124,"At Howard University, a historically black col...","$24,908",NaN,"6,883"
127,127,University of Arizona,"Tucson, AZ",124,As one of the largest public institutions in i...,"$30,025","$10,872","33,732"
128,128,Arizona State University--Tempe,"Tempe, AZ",129,"Arizona State University--Tempe, which has one...","$25,458","$10,158","41,828"
129,129,Clarkson University,"Potsdam, NY",129,Clarkson University is a private school in nor...,"$46,132",NaN,"3,257"
130,130,Colorado State University,"Fort Collins, CO",129,Colorado State University is located in Fort C...,"$28,374","$11,080","24,433"
131,131,New School,"New York, NY",129,"Founded in 1919, New School is a private insti...","$45,535",NaN,"6,792"
132,132,Hofstra University,"Hempstead, NY",133,"With its location on Long Island, New York, Ho...","$42,160",NaN,"6,824"
133,133,University of Kentucky,"Lexington, KY",133,The University of Kentucky is located in the c...,"$26,334","$11,484","22,705"
134,134,Kansas State University,"Manhattan, KS",135,Kansas State University is located in the city...,"$23,429","$9,350","19,859"
135,135,Louisiana State University--Baton Rouge,"Baton Rouge, LA",135,"Louisiana State University--Baton Rouge, bette...","$27,005","$9,842","26,156"
136,136,Mercer University,"Macon, GA",135,"Just an hour south of Atlanta, the main campus...","$35,130",NaN,"4,667"
137,137,New Jersey Institute of Technology,"Newark, NJ",135,"Founded in 1881, New Jersey Institute of Techn...","$30,326","$16,108","8,008"
138,138,Rutgers University--Newark,"Newark, NJ",135,Rutgers University--Newark is one of several c...,"$29,480","$13,829","7,713"
139,139,University of Arkansas,"Fayetteville, AR",135,"The University of Arkansas, or U of A, is a pu...","$23,168","$8,820","22,159"
140,140,University of Cincinnati,"Cincinnati, OH",135,The University of Cincinnati is a public schoo...,"$26,334","$11,000","25,054"
141,141,University of Mississippi,"University, MS",135,"The University of Mississippi, better known as...","$22,012","$7,744","18,785"
142,142,George Mason University,"Fairfax, VA",143,George Mason University has three suburban cam...,"$32,582","$11,300","23,062"
143,143,Oregon State University,"Corvallis, OR",143,Oregon State University is located in Corvalli...,"$28,846","$10,366","24,612"
144,144,Washington State University,"Pullman, WA",143,The main campus of Washington State University...,"$25,673","$11,041","24,470"
145,145,Adelphi University,"Garden City, NY",146,"Founded in 1896, Adelphi University is a priva...","$34,034",NaN,"4,852"
146,146,Ohio University,"Athens, OH",146,Freshmen at Ohio University (OU) in Athens can...,"$21,208","$11,744","23,513"
147,147,San Diego State University,"San Diego, CA",146,"Founded in 1897, San Diego State University is...","$18,244","$7,084","29,234"
148,148,St. John Fisher College,"Rochester, NY",146,"Founded in 1948, St. John Fisher College is a ...","$31,880",NaN,"2,805"
149,149,University at Albany--SUNY,"Albany, NY",146,"The University at Albany, which is part of the...","$22,244","$9,124","12,908"
150,150,University of Texas--Dallas,"Richardson, TX",146,"Founded in 1969, University of Texas--Dallas i...","$33,654","$12,162","15,575"
151,151,Illinois State University,"Normal, IL",152,Illinois State University is located in the to...,"$20,886","$13,296","18,426"
152,152,Immaculata University,"Immaculata, PA",152,"Founded in 1920, Immaculata University is a pr...","$35,210",NaN,"1,790"
153,153,Oklahoma State University,"Stillwater, OK",152,"At Oklahoma State University, freshmen are req...","$20,978","$7,778","21,046"
154,154,University of California--Merced,"Merced, CA",152,"Founded in 2005, University of California--Mer...","$39,944","$13,262","6,237"

In [12]:
# 1.Find the universities in which undergraduate students were enrolled.
f = df['Undergrad Enrollment'].isnull()
df[~f]['Name']

0                                   Princeton University
1                                     Harvard University
2                                  University of Chicago
3                                        Yale University
4                                    Columbia University
5                                    Stanford University
6                  Massachusetts Institute of Technology
7                                        Duke University
8                             University of Pennsylvania
9                               Johns Hopkins University
10                                     Dartmouth College
11                    California Institute of Technology
12                               Northwestern University
13                                      Brown University
14                                    Cornell University
15                                       Rice University
16                              University of Notre Dame
17                                 Vanderbilt University
18                    Washington University in St. Louis
19                                      Emory University
20                                 Georgetown University
21                    University of California--Berkeley
22                     University of Southern California
23                            Carnegie Mellon University
24                 University of California--Los Angeles
25                                University of Virginia
26                                      Tufts University
27                     University of Michigan--Ann Arbor
28                                Wake Forest University
29             University of North Carolina--Chapel Hill
30                                        Boston College
31                             College of William & Mary
32                               University of Rochester
33                                   Brandeis University
34                       Georgia Institute of Technology
35                                   New York University
36                       Case Western Reserve University
37               University of California--Santa Barbara
38                                     Boston University
39                               Northeastern University
40                      Rensselaer Polytechnic Institute
41                                     Tulane University
42                      University of California--Irvine
43                                     Lehigh University
44                       University of California--Davis
45                   University of California--San Diego
46              University of Illinois--Urbana-Champaign
47                                   University of Miami
48                      University of Wisconsin--Madison
49                                 Pepperdine University
50                                 University of Florida
51                                  Villanova University
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
54                              University of Washington
55                          George Washington University
56                         Southern Methodist University
57                                 University of Georgia
58                           University of Texas--Austin
59                                    Fordham University
60                     Purdue University--West Lafayette
61                                   Syracuse University
62                             University of Connecticut
63                  University of Maryland--College Park
64                       Worcester Polytechnic Institute
65                                    Clemson University
66                                    Yeshiva University
67                       Brigham Young University--Provo
68                              University of Pittsburgh
69                     Rutgers University--New Brunswick
70                                     Baylor University
71                       Stevens Institute of Technology
72                  University of Minnesota--Twin Cities
73                                   American University
74                                      Clark University
75                 Texas A&M University--College Station
76                  University of Massachusetts--Amherst
77                                         Virginia Tech
78                              Miami University--Oxford
79                  University of California--Santa Cruz
80                                University of Delaware
81                              Colorado School of Mines
82                             Michigan State University
83                            Texas Christian University
84                                    University of Iowa
85                           Binghamton University--SUNY
86                       Indiana University--Bloomington
87                                  Marquette University
88                                  University of Denver
89                               University of San Diego
90                                   University of Tulsa
91                              Florida State University
92              North Carolina State University--Raleigh
93                       University of Colorado--Boulder
94                                 University of Vermont
95                                     Drexel University
96                                Saint Louis University
97                          Stony Brook University--SUNY
98                                     Auburn University
99                             Loyola University Chicago
100    SUNY College of Environmental Science and Fore...
101                          University at Buffalo--SUNY
102                     Illinois Institute of Technology
103                                University of Alabama
104                                 University of Oregon
105                              University of Tennessee
106                    Rochester Institute of Technology
107                          University of New Hampshire
108                          University of San Francisco
109                         University of South Carolina
110                                Iowa State University
111                                 University of Dayton
112                               University of Missouri
113                      University of Nebraska--Lincoln
114                               University of Oklahoma
115                            University of the Pacific
116                                   University of Utah
117                    Michigan Technological University
118                                Seton Hall University
119                                    Temple University
120                  University of California--Riverside
121                                 University of Kansas
122                             University of St. Thomas
123                   The Catholic University of America
124                                    DePaul University
125                                  Duquesne University
126                                    Howard University
127                                University of Arizona
128                      Arizona State University--Tempe
129                                  Clarkson University
130                            Colorado State University
131                                           New School
132                                   Hofstra University
133                               University of Kentucky
134                              Kansas State University
135              Louisiana State University--Baton Rouge
136                                    Mercer University
137                   New Jersey Institute of Technology
138                           Rutgers University--Newark
139                               University of Arkansas
140                             University of Cincinnati
141                            University of Mississippi
142                              George Mason University
143                              Oregon State University
144                          Washington State University
145                                   Adelphi University
146                                      Ohio University
147                           San Diego State University
148                              St. John Fisher College
149                           University at Albany--SUNY
150                          University of Texas--Dallas
151                            Illinois State University
152                                Immaculata University
153                            Oklahoma State University
154                     University of California--Merced
155                      University of Illinois--Chicago
156                               University of La Verne
157                  University of Massachusetts--Lowell
158                           Seattle Pacific University
159                    University of Alabama--Birmingham
160             University of Maryland--Baltimore County
161                           University of Rhode Island
162                          University of South Florida
163                                     Biola University
164                    Maryville University of St. Louis
165          Missouri University of Science & Technology
166                                St. John's University
167                     Virginia Commonwealth University
168                                     Union University
169                          University of Hawaii--Manoa
170                                     Edgewood College
171                      Florida Institute of Technology
172                                  University of Idaho
173                             University of Louisville
174                                University of Wyoming
175                                Ball State University
176                                  Lipscomb University
177                         Mississippi State University
178                           Montclair State University
179                                Texas Tech University
180                        University of Central Florida
181                             University of New Mexico
182                                   Andrews University
183                             Azusa Pacific University
184                                  University of Maine
185                             West Virginia University
186                                   Widener University
187                                Kent State University
188                        North Dakota State University
189                                      Pace University
190                             Robert Morris University
191                                   Suffolk University
192                               University of Hartford
193                       Bowling Green State University
194                                University of Houston
195                          Western Michigan University
196    Indiana University-Purdue University--Indianap...
197                                    Lesley University
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
200                           University of Nevada--Reno
201               California State University--Fullerton
202                          Central Michigan University
203                            Louisiana Tech University
204                        South Dakota State University
205                      University of Alaska--Fairbanks
206              University of North Carolina--Charlotte
207                           University of North Dakota
208                           University of South Dakota
209                             East Carolina University
210                             Montana State University
211                              Old Dominion University
212                  University of Missouri--Kansas City
213                                   Ashland University
214                            Dallas Baptist University
215                         Northern Illinois University
216                         Nova Southeastern University
217             Southern Illinois University--Carbondale
218                                University of Montana
219                               Benedictine University
220                  California State University--Fresno
221                              Gardner-Webb University
222                          New Mexico State University
223                                Shenandoah University
224                   Tennessee Technological University
225                  University of Massachusetts--Boston
226               University of Massachusetts--Dartmouth
227                    University of Missouri--St. Louis
228             University of North Carolina--Greensboro
229                   University of Southern Mississippi
230                                Utah State University
Name: Name, dtype: object

In [18]:
# 2.Find the universities in which In-state students were enrolled.
f = df['In-state'].isnull()
df[~f]['Name']

21                    University of California--Berkeley
24                 University of California--Los Angeles
25                                University of Virginia
27                     University of Michigan--Ann Arbor
29             University of North Carolina--Chapel Hill
31                             College of William & Mary
34                       Georgia Institute of Technology
37               University of California--Santa Barbara
42                      University of California--Irvine
44                       University of California--Davis
45                   University of California--San Diego
46              University of Illinois--Urbana-Champaign
48                      University of Wisconsin--Madison
50                                 University of Florida
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
54                              University of Washington
57                                 University of Georgia
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
62                             University of Connecticut
63                  University of Maryland--College Park
65                                    Clemson University
68                              University of Pittsburgh
69                     Rutgers University--New Brunswick
72                  University of Minnesota--Twin Cities
75                 Texas A&M University--College Station
76                  University of Massachusetts--Amherst
77                                         Virginia Tech
78                              Miami University--Oxford
79                  University of California--Santa Cruz
80                                University of Delaware
81                              Colorado School of Mines
82                             Michigan State University
84                                    University of Iowa
85                           Binghamton University--SUNY
86                       Indiana University--Bloomington
91                              Florida State University
92              North Carolina State University--Raleigh
93                       University of Colorado--Boulder
94                                 University of Vermont
97                          Stony Brook University--SUNY
98                                     Auburn University
100    SUNY College of Environmental Science and Fore...
101                          University at Buffalo--SUNY
103                                University of Alabama
104                                 University of Oregon
105                              University of Tennessee
107                          University of New Hampshire
109                         University of South Carolina
110                                Iowa State University
112                               University of Missouri
113                      University of Nebraska--Lincoln
114                               University of Oklahoma
116                                   University of Utah
117                    Michigan Technological University
119                                    Temple University
120                  University of California--Riverside
121                                 University of Kansas
127                                University of Arizona
128                      Arizona State University--Tempe
130                            Colorado State University
133                               University of Kentucky
134                              Kansas State University
135              Louisiana State University--Baton Rouge
137                   New Jersey Institute of Technology
138                           Rutgers University--Newark
139                               University of Arkansas
140                             University of Cincinnati
141                            University of Mississippi
142                              George Mason University
143                              Oregon State University
144                          Washington State University
146                                      Ohio University
147                           San Diego State University
149                           University at Albany--SUNY
150                          University of Texas--Dallas
151                            Illinois State University
153                            Oklahoma State University
154                     University of California--Merced
155                      University of Illinois--Chicago
157                  University of Massachusetts--Lowell
159                    University of Alabama--Birmingham
160             University of Maryland--Baltimore County
161                           University of Rhode Island
162                          University of South Florida
165          Missouri University of Science & Technology
167                     Virginia Commonwealth University
169                          University of Hawaii--Manoa
172                                  University of Idaho
173                             University of Louisville
174                                University of Wyoming
175                                Ball State University
177                         Mississippi State University
178                           Montclair State University
179                                Texas Tech University
180                        University of Central Florida
181                             University of New Mexico
184                                  University of Maine
185                             West Virginia University
187                                Kent State University
188                        North Dakota State University
193                       Bowling Green State University
194                                University of Houston
195                          Western Michigan University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
200                           University of Nevada--Reno
201               California State University--Fullerton
202                          Central Michigan University
203                            Louisiana Tech University
204                        South Dakota State University
205                      University of Alaska--Fairbanks
206              University of North Carolina--Charlotte
207                           University of North Dakota
208                           University of South Dakota
209                             East Carolina University
210                             Montana State University
211                              Old Dominion University
212                  University of Missouri--Kansas City
215                         Northern Illinois University
217             Southern Illinois University--Carbondale
218                                University of Montana
220                  California State University--Fresno
222                          New Mexico State University
224                   Tennessee Technological University
225                  University of Massachusetts--Boston
226               University of Massachusetts--Dartmouth
227                    University of Missouri--St. Louis
228             University of North Carolina--Greensboro
229                   University of Southern Mississippi
230                                Utah State University
Name: Name, dtype: object

In [20]:
# 3.Find the universities in which in-state students were not enrolled
f = df['In-state'].isnull()
df[f]['Name'].describe()

count                       98
unique                      98
top       Princeton University
freq                         1
Name: Name, dtype: object

In [23]:
# 4.How many universities have both out-of state and in-state students?
f1 = ~(df['In-state'].isnull()) & ~(df['Tuition and fees'].isnull()) 
df[f1]

,index,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
21,21,University of California--Berkeley,"Berkeley, CA",20,"The University of California--Berkeley, often ...","$40,191","$13,509","27,496"
24,24,University of California--Los Angeles,"Los Angeles, CA",24,"The University of California--Los Angeles, com...","$39,518","$12,836","29,585"
25,25,University of Virginia,"Charlottesville, VA",24,"Founded by Thomas Jefferson, the University of...","$45,066","$15,722","16,736"
27,27,University of Michigan--Ann Arbor,"Ann Arbor, MI",27,The University of Michigan boasts one of the b...,"$43,476","$13,856","28,312"
29,29,University of North Carolina--Chapel Hill,"Chapel Hill, NC",30,"The University of North Carolina--Chapel Hill,...","$33,916","$8,834","18,415"
31,31,College of William & Mary,"Williamsburg, VA",32,The College of William and Mary is second olde...,"$41,718","$18,687","6,301"
34,34,Georgia Institute of Technology,"Atlanta, GA",34,"Georgia Tech, located in the heart of Atlanta,...","$32,404","$12,212","15,142"
37,37,University of California--Santa Barbara,"Santa Barbara, CA",37,Located 100 miles up the coast from Los Angele...,"$40,704","$14,022","20,607"
42,42,University of California--Irvine,"Irvine, CA",39,On the sunny campus of the University of Calif...,"$39,458","$14,750","25,256"
44,44,University of California--Davis,"Davis, CA",44,"The University of California--Davis, one of 10...","$40,728","$14,046","28,384"
45,45,University of California--San Diego,"La Jolla, CA",44,The University of California--San Diego lies a...,"$41,387","$14,705","26,590"
46,46,University of Illinois--Urbana-Champaign,"Champaign, IL",44,The University of Illinois is located in the t...,"$31,320","$15,698","33,368"
48,48,University of Wisconsin--Madison,"Madison, WI",44,The University of Wisconsin--Madison lies alon...,"$32,738","$10,488","31,662"
50,50,University of Florida,"Gainesville, FL",50,The University of Florida is about two miles a...,"$28,666","$6,389","35,043"
52,52,Pennsylvania State University--University Park,"University Park, PA",50,There is rarely a dull moment on the Pennsylva...,"$32,382","$17,900","40,742"
53,53,Ohio State University--Columbus,"Columbus, OH",54,"Located in the state capital of Columbus, The ...","$29,229","$10,037","45,289"
54,54,University of Washington,"Seattle, WA",54,Located in the University District neighborhoo...,"$34,791","$10,753","31,063"
57,57,University of Georgia,"Athens, GA",56,"At its founding, The University of Georgia mad...","$29,844","$11,634","27,547"
58,58,University of Texas--Austin,"Austin, TX",56,"Everything is bigger in Texas, as the saying g...","$34,676","$9,806","39,619"
60,60,Purdue University--West Lafayette,"West Lafayette, IN",60,"Purdue University's West Lafayette, Indiana, c...","$28,804","$10,002","29,497"
62,62,University of Connecticut,"Storrs, CT",60,"The University of Connecticut, located in Stor...","$35,858","$14,066","18,826"
63,63,University of Maryland--College Park,"College Park, MD",60,"Located between Washington, D.C., and Baltimor...","$32,045","$10,181","27,443"
65,65,Clemson University,"Clemson, SC",66,"As a student at Clemson, get ready to love the...","$32,796","$14,240","18,016"
68,68,University of Pittsburgh,"Pittsburgh, PA",68,"Located in the Oakland neighborhood, Pitt's ca...","$29,758","$18,618","18,908"
69,69,Rutgers University--New Brunswick,"Piscataway, NJ",70,For high school students who can't decide what...,"$30,023","$14,372","35,484"
72,72,University of Minnesota--Twin Cities,"Minneapolis, MN",71,The University of Minnesota stretches across a...,"$22,210","$13,790","34,071"
75,75,Texas A&M University--College Station,"College Station, TX",74,Ready to be an Aggie? All students assume the ...,"$28,768","$10,176","48,960"
76,76,University of Massachusetts--Amherst,"Amherst, MA",74,The University of Massachusetts--Amherst is th...,"$30,123","$13,790","22,748"
77,77,Virginia Tech,"Blacksburg, VA",74,"At Virginia Tech, a former military institute ...","$29,371","$12,852","25,384"
78,78,Miami University--Oxford,"Oxford, OH",79,Miami University students make up nearly half ...,"$31,592","$14,288","16,387"
79,79,University of California--Santa Cruz,"Santa Cruz, CA",79,"At the University of California--Santa Cruz, o...","$40,241","$13,559","16,231"
80,80,University of Delaware,"Newark, DE",79,For students interested in attending the Unive...,"$31,420","$12,520","18,322"
81,81,Colorado School of Mines,"Golden, CO",82,"For students who want to work in the sciences,...","$34,828","$17,383","4,608"
82,82,Michigan State University,"East Lansing, MI",82,Michigan State University is a powerhouse inst...,"$39,090","$14,070","39,143"
84,84,University of Iowa,"Iowa City, IA",82,The University of Iowa offers top-notch academ...,"$28,413","$8,325","23,357"
85,85,Binghamton University--SUNY,"Binghamton, NY",86,Outdoor recreation abounds in the southeastern...,"$22,164","$9,044","13,491"
86,86,Indiana University--Bloomington,"Bloomington, IN",86,"No one quite knows what a ""Hoosier"" is, but a ...","$34,246","$10,388","38,364"
91,91,Florida State University,"Tallahassee, FL",92,Florida State University is a sprawling public...,"$24,673","$9,507","32,706"
92,92,North Carolina State University--Raleigh,"Raleigh, NC",92,"North Carolina State University, also known as...","$26,399","$8,880","24,111"
93,93,University of Colorado--Boulder,"Boulder, CO",92,"The University of Colorado Boulder, called CUÅ’...","$35,079","$11,531","27,010"
94,94,University of Vermont,"Burlington, VT",92,Nestled between the Adirondack and Green Mount...,"$40,364","$17,300","10,973"
97,97,Stony Brook University--SUNY,"Stony Brook, NY",96,Stony Brook University is one of 64 schools in...,"$26,266","$9,026","16,831"
98,98,Auburn University,"Auburn, AL",99,"Auburn, Alabama, has been ranked one of the be...","$28,840","$10,696","21,786"
100,100,SUNY College of Environmental Science and Fore...,"Syracuse, NY",99,The SUNY College of Environmental Science and ...,"$17,620","$7,770","1,839"
101,101,University at Buffalo--SUNY,"Buffalo, NY",99,"Founded in 1846, University at Buffalo--SUNY i...","$26,270","$9,770","19,951"
103,103,University of Alabama,"Tuscaloosa, AL",103,As the flagship campus of the University of Al...,"$26,950","$10,470","31,958"
104,104,University of Oregon,"Eugene, OR",103,"The University of Oregon, or UO for short, is ...","$33,442","$10,762","20,538"
105,105,University of Tennessee,"Knoxville, TN",103,The University of Tennessee is a public resear...,"$30,858","$12,668","21,863"
107,107,University of New Hampshire,"Durham, NH",107,The University of New Hampshire is a public in...,"$31,424","$17,624","13,034"
109,109,University of South Carolina,"Columbia, SC",107,The University of South Carolina eases its stu...,"$31,282","$11,854","25,237"
110,110,Iowa State University,"Ames, IA",111,"Iowa State University dwarfs Ames, the small t...","$21,483","$7,969","30,034"
112,112,University of Missouri,"Columbia, MO",111,Students at the University of Missouri live in...,"$25,892","$9,518","27,812"
113,113,University of Nebraska--Lincoln,"Lincoln, NE",111,There are about 150 majors to choose from at t...,"$23,148","$8,628","20,182"
114,114,University of Oklahoma,"Norman, OK",111,"The University of Oklahoma, known as OU for sh...","$21,451","$8,065","22,132"
116,116,University of Utah,"Salt Lake City, UT",111,"The University of Utah, known as the U of U or...","$27,039","$8,518","23,794"
117,117,Michigan Technological University,"Houghton, MI",118,Michigan Technological University is located i...,"$30,968","$14,634","5,721"
119,119,Temple University,"Philadelphia, PA",118,"Temple University is a large, urban college in...","$25,994","$15,688","28,609"
120,120,University of California--Riverside,"Riverside, CA",118,"Despite its setting in Southern California, UC...","$40,263","$13,581","18,608"
121,121,University of Kansas,"Lawrence, KS",118,"Founded in 1865, University of Kansas is a pub...","$25,932","$10,549","19,245"
127,127,University of Arizona,"Tucson, AZ",124,As one of the largest public institutions in i...,"$30,025","$10,872","33,732"
128,128,Arizona State University--Tempe,"Tempe, AZ",129,"Arizona State University--Tempe, which has one...","$25,458","$10,158","41,828"
130,130,Colorado State University,"Fort Collins, CO",129,Colorado State University is located in Fort C...,"$28,374","$11,080","24,433"
133,133,University of Kentucky,"Lexington, KY",133,The University of Kentucky is located in the c...,"$26,334","$11,484","22,705"
134,134,Kansas State University,"Manhattan, KS",135,Kansas State University is located in the city...,"$23,429","$9,350","19,859"
135,135,Louisiana State University--Baton Rouge,"Baton Rouge, LA",135,"Louisiana State University--Baton Rouge, bette...","$27,005","$9,842","26,156"
137,137,New Jersey Institute of Technology,"Newark, NJ",135,"Founded in 1881, New Jersey Institute of Techn...","$30,326","$16,108","8,008"
138,138,Rutgers University--Newark,"Newark, NJ",135,Rutgers University--Newark is one of several c...,"$29,480","$13,829","7,713"
139,139,University of Arkansas,"Fayetteville, AR",135,"The University of Arkansas, or U of A, is a pu...","$23,168","$8,820","22,159"
140,140,University of Cincinnati,"Cincinnati, OH",135,The University of Cincinnati is a public schoo...,"$26,334","$11,000","25,054"
141,141,University of Mississippi,"University, MS",135,"The University of Mississippi, better known as...","$22,012","$7,744","18,785"
142,142,George Mason University,"Fairfax, VA",143,George Mason University has three suburban cam...,"$32,582","$11,300","23,062"
143,143,Oregon State University,"Corvallis, OR",143,Oregon State University is located in Corvalli...,"$28,846","$10,366","24,612"
144,144,Washington State University,"Pullman, WA",143,The main campus of Washington State University...,"$25,673","$11,041","24,470"
146,146,Ohio University,"Athens, OH",146,Freshmen at Ohio University (OU) in Athens can...,"$21,208","$11,744","23,513"
147,147,San Diego State University,"San Diego, CA",146,"Founded in 1897, San Diego State University is...","$18,244","$7,084","29,234"
149,149,University at Albany--SUNY,"Albany, NY",146,"The University at Albany, which is part of the...","$22,244","$9,124","12,908"
150,150,University of Texas--Dallas,"Richardson, TX",146,"Founded in 1969, University of Texas--Dallas i...","$33,654","$12,162","15,575"
151,151,Illinois State University,"Normal, IL",152,Illinois State University is located in the to...,"$20,886","$13,296","18,426"
153,153,Oklahoma State University,"Stillwater, OK",152,"At Oklahoma State University, freshmen are req...","$20,978","$7,778","21,046"
154,154,University of California--Merced,"Merced, CA",152,"Founded in 2005, University of California--Mer...","$39,944","$13,262","6,237"
155,155,University of Illinois--Chicago,"Chicago, IL",152,The University of Illinois--Chicago (UIC) is l...,"$26,526","$13,670","17,575"
157,157,University of Massachusetts--Lowell,"Lowell, MA",152,"Founded in 1894, University of Massachusetts--...","$29,125","$13,427","13,266"
159,159,University of Alabama--Birmingham,"Birmingham, AL",159,"Founded in 1969, University of Alabama--Birmin...","$17,654","$7,766","11,511"
160,160,University of Maryland--Baltimore County,"Baltimore, MD",159,University of Maryland--Baltimore County is lo...,"$24,492","$11,264","11,243"
161,161,University of Rhode Island,"Kingston, RI",159,The main campus of the University of Rhode Isl...,"$28,852","$12,862","13,641"
162,162,University of South Florida,"Tampa, FL",159,"The University of South Florida, or USF, as it...","$17,325","$6,410","31,111"
165,165,Missouri University of Science & Technology,"Rolla, MO",164,"As its name suggests, Missouri University of S...","$26,152","$9,628","6,841"
167,167,Virginia Commonwealth University,"Richmond, VA",164,Virginia Commonwealth University is located in...,"$31,608","$13,076","24,051"
169,169,University of Hawaii--Manoa,"Honolulu, HI",169,The University of Hawaii--Manoa is located jus...,"$33,764","$11,732","13,689"
172,172,University of Idaho,"Moscow, ID",171,University of Idaho is located in the northwes...,"$22,040","$7,232","9,116"
173,173,University of Louisville,"Louisville, KY",171,The University of Louisville is located in Ken...,"$24,626","$10,738","15,769"
174,174,University of Wyoming,"Laramie, WY",171,The University of Wyoming campus is situated b...,"$16,215","$5,055","10,045"
175,175,Ball State University,"Muncie, IN",176,"Ball State University is located in Muncie, In...","$25,428","$9,654","16,602"
177,177,Mississippi State University,"Mississippi State, MS",176,Mississippi State University is located in the...,"$20,142","$7,502","17,421"
178,178,Montclair State University,"Montclair, NJ",176,Montclair State University is located in New J...,"$20,318","$11,771","16,336"
179,179,Texas Tech University,"Lubbock, TX",176,Texas Tech University is a large research inst...,"$22,861","$10,622","29,237"
180,180,University of Central Florida,"Orlando, FL",176,"The University of Central Florida is, fittingl...","$22,467","$6,368","54,513"
181,181,University of New Mexico,"Albuquerque, NM",176,"Founded in 1889, University of New Mexico is a...","$21,302","$7,071","20,522"
184,184,University of Maine,"Orono, ME",183,Located on the banks of the Stillwater River i...,"$29,498","$10,628","9,297"
185,185,West Virginia University,"Morgantown, WV",183,West Virginia University is a public instituti...,"$21,432","$7,632","22,498"
187,187,Kent State University,"Kent, OH",188,Kent State University is located in northeaste...,"$18,376","$10,012","23,607"
188,188,North Dakota State University,"Fargo, ND",188,North Dakota State University is located in th...,"$19,790","$9,046","12,037"
193,193,Bowling Green State University,"Bowling Green, OH",194,Bowling Green State University is located in n...,"$18,332","$10,796","14,334"
194,194,University of Houston,"Houston, TX",194,The University of Houston is situated in one o...,"$25,410","$10,710","34,716"
195,195,Western Michigan University,"Kalamazoo, MI",194,Western Michigan University is located in the ...,"$25,713","$11,029","18,567"
196,196,Indiana University-Purdue University--Indianap...,"Indianapolis, IN",197,Indiana University-Purdue University Indianapo...,"$29,791","$9,205","21,985"
198,198,University of Alabama--Huntsville,"Huntsville, AL",197,Located at the southern edge of the Appalachia...,"$20,622","$9,128","6,013"
199,199,University of Colorado--Denver,"Denver, CO",197,The main University of Colorado--Denver campus...,"$29,334","$10,404","14,036"
200,200,University of Nevada--Reno,"Reno, NV",197,The University of Nevada--Reno is located on t...,"$21,052","$7,142","17,770"
201,201,California State University--Fullerton,"Fullerton, CA",202,California State University--Fullerton (CSUF) ...,"$17,596","$6,436","33,144"
202,202,Central Michigan University,"Mount Pleasant, MI",202,Central Michigan University is located in Moun...,"$23,670","$12,150","20,498"
203,203,Louisiana Tech University,"Ruston, LA",202,"Founded in 1894, Louisiana Tech University is ...","$25,851","$8,853","10,682"
204,204,South Dakota State University,"Brookings, SD",202,"Founded in 1881, South Dakota State University...","$11,403","$8,172","11,007"
205,205,University of Alaska--Fairbanks,"Fairbanks, AK",202,University of Alaska--Fairbanks is a public in...,"$22,469","$7,799","7,610"
206,206,University of North Carolina--Charlotte,"Charlotte, NC",202,"Founded in 1946, University of North Carolina-...","$20,193","$6,617","22,732"
207,207,University of North Dakota,"Grand Forks, ND",202,The University of North Dakota is located in t...,"$18,899","$4,965","11,577"
208,208,University of South Dakota,"Vermillion, SD",202,"Founded in 1862, University of South Dakota is...","$11,688","$8,457","7,435"
209,209,East Carolina University,"Greenville, NC",210,East Carolina University is located in Greenvi...,"$22,904","$6,946","23,039"
210,210,Montana State University,"Bozeman, MT",210,"Located in the city of Bozeman, Montana State ...","$23,042","$7,031","13,707"
211,211,Old Dominion University,"Norfolk, VA",210,Originally created as a division of the Colleg...,"$27,028","$10,048","20,101"
212,212,University of Missouri--Kansas City,"Kansas City, MO",210,"At the University of Missouri--Kansas City, st...","$22,714","$9,551","11,253"
215,215,Northern Illinois University,"DeKalb, IL",214,Northern Illinois University is located about ...,"$23,799","$14,334","15,027"
217,217,Southern Illinois University--Carbondale,"Carbondale, IL",214,"Founded in 1869, Southern Illinois University-...","$27,130","$13,481","13,031"
218,218,University of Montana,"Missoula, MT",214,The University of Montana campus in Missoula i...,"$24,562","$6,446","8,732"
220,220,California State University--Fresno,"Fresno, CA",220,California State University--Fresno is located...,"$17,209","$6,313","21,482"
222,222,New Mexico State University,"Las Cruces, NM",220,There are five New Mexico State University loc...,"$21,234","$6,729","12,526"
224,224,Tennessee Technological University,"Cookeville, TN",220,"Founded in 1915, Tennessee Technological Unive...","$24,800","$16,311","9,801"
225,225,University of Massachusetts--Boston,"Boston, MA",220,"Founded in 1964, University of Massachusetts--...","$32,023","$13,435","12,949"
226,226,University of Massachusetts--Dartmouth,"North Dartmouth, MA",220,"Located about 60 miles south of Boston, the Un...","$19,270","$12,588","7,295"
227,227,University of Missouri--St. Louis,"St. Louis, MO",220,Undergraduates at University of Missouri--St. ...,"$26,277","$10,065","13,569"
228,228,University of North Carolina--Greensboro,"Greensboro, NC",220,University of North Carolina--Greensboro is lo...,"$21,595","$6,733","15,951"
229,229,University of Southern Mississippi,"Hattiesburg, MS",220,The University of Southern Mississippi has two...,"$16,094","$7,224","11,840"
230,230,Utah State University,"Logan, UT",220,"Founded in 1888, Utah State University is a pu...","$19,772","$6,866","25,259"

In [101]:
# 5.List the the cities in which universities were  located.
df[['city','state']] = df.Location.str.split(',',expand=True)
df[['Name','city']]

                                                  Name               city
0                                 Princeton University          Princeton
1                                   Harvard University          Cambridge
2                                University of Chicago            Chicago
3                                      Yale University          New Haven
4                                  Columbia University           New York
5                                  Stanford University           Stanford
6                Massachusetts Institute of Technology          Cambridge
7                                      Duke University             Durham
8                           University of Pennsylvania       Philadelphia
9                             Johns Hopkins University          Baltimore
10                                   Dartmouth College            Hanover
11                  California Institute of Technology           Pasadena
12                             Northwestern University           Evanston
13                                    Brown University         Providence
14                                  Cornell University             Ithaca
15                                     Rice University            Houston
16                            University of Notre Dame         Notre Dame
17                               Vanderbilt University          Nashville
18                  Washington University in St. Louis          St. Louis
19                                    Emory University            Atlanta
20                               Georgetown University         Washington
21                  University of California--Berkeley           Berkeley
22                   University of Southern California        Los Angeles
23                          Carnegie Mellon University         Pittsburgh
24               University of California--Los Angeles        Los Angeles
25                              University of Virginia    Charlottesville
26                                    Tufts University            Medford
27                   University of Michigan--Ann Arbor          Ann Arbor
28                              Wake Forest University      Winston-Salem
29           University of North Carolina--Chapel Hill        Chapel Hill
30                                      Boston College      Chestnut Hill
31                           College of William & Mary       Williamsburg
32                             University of Rochester          Rochester
33                                 Brandeis University            Waltham
34                     Georgia Institute of Technology            Atlanta
35                                 New York University           New York
36                     Case Western Reserve University          Cleveland
37             University of California--Santa Barbara      Santa Barbara
38                                   Boston University             Boston
39                             Northeastern University             Boston
40                    Rensselaer Polytechnic Institute               Troy
41                                   Tulane University        New Orleans
42                    University of California--Irvine             Irvine
43                                   Lehigh University          Bethlehem
44                     University of California--Davis              Davis
45                 University of California--San Diego           La Jolla
46            University of Illinois--Urbana-Champaign          Champaign
47                                 University of Miami       Coral Gables
48                    University of Wisconsin--Madison            Madison
49                               Pepperdine University             Malibu
50                               University of Florida        Gainesville
51                                Villanova University          Villanova
52      Pennsylvania State University--University Park    University Park
53                     Ohio State University--Columbus           Columbus
54                            University of Washington            Seattle
55                        George Washington University         Washington
56                       Southern Methodist University             Dallas
57                               University of Georgia             Athens
58                         University of Texas--Austin             Austin
59                                  Fordham University           New York
60                   Purdue University--West Lafayette     West Lafayette
61                                 Syracuse University           Syracuse
62                           University of Connecticut             Storrs
63                University of Maryland--College Park       College Park
64                     Worcester Polytechnic Institute          Worcester
65                                  Clemson University            Clemson
66                                  Yeshiva University           New York
67                     Brigham Young University--Provo              Provo
68                            University of Pittsburgh         Pittsburgh
69                   Rutgers University--New Brunswick         Piscataway
70                                   Baylor University               Waco
71                     Stevens Institute of Technology            Hoboken
72                University of Minnesota--Twin Cities        Minneapolis
73                                 American University         Washington
74                                    Clark University          Worcester
75               Texas A&M University--College Station    College Station
76                University of Massachusetts--Amherst            Amherst
77                                       Virginia Tech         Blacksburg
78                            Miami University--Oxford             Oxford
79                University of California--Santa Cruz         Santa Cruz
80                              University of Delaware             Newark
81                            Colorado School of Mines             Golden
82                           Michigan State University       East Lansing
83                          Texas Christian University         Fort Worth
84                                  University of Iowa          Iowa City
85                         Binghamton University--SUNY         Binghamton
86                     Indiana University--Bloomington        Bloomington
87                                Marquette University          Milwaukee
88                                University of Denver             Denver
89                             University of San Diego          San Diego
90                                 University of Tulsa              Tulsa
91                            Florida State University        Tallahassee
92            North Carolina State University--Raleigh            Raleigh
93                     University of Colorado--Boulder            Boulder
94                               University of Vermont         Burlington
95                                   Drexel University       Philadelphia
96                              Saint Louis University          St. Louis
97                        Stony Brook University--SUNY        Stony Brook
98                                   Auburn University             Auburn
99                           Loyola University Chicago            Chicago
100  SUNY College of Environmental Science and Fore...           Syracuse
101                        University at Buffalo--SUNY            Buffalo
102                   Illinois Institute of Technology            Chicago
103                              University of Alabama         Tuscaloosa
104                               University of Oregon             Eugene
105                            University of Tennessee          Knoxville
106                  Rochester Institute of Technology          Rochester
107                        University of New Hampshire             Durham
108                        University of San Francisco      San Francisco
109                       University of South Carolina           Columbia
110                              Iowa State University               Ames
111                               University of Dayton             Dayton
112                             University of Missouri           Columbia
113                    University of Nebraska--Lincoln            Lincoln
114                             University of Oklahoma             Norman
115                          University of the Pacific           Stockton
116                                 University of Utah     Salt Lake City
117                  Michigan Technological University           Houghton
118                              Seton Hall University       South Orange
119                                  Temple University       Philadelphia
120                University of California--Riverside          Riverside
121                               University of Kansas           Lawrence
122                           University of St. Thomas           St. Paul
123                 The Catholic University of America         Washington
124                                  DePaul University            Chicago
125                                Duquesne University         Pittsburgh
126                                  Howard University         Washington
127                              University of Arizona             Tucson
128                    Arizona State University--Tempe              Tempe
129                                Clarkson University            Potsdam
130                          Colorado State University       Fort Collins
131                                         New School           New York
132                                 Hofstra University          Hempstead
133                             University of Kentucky          Lexington
134                            Kansas State University          Manhattan
135            Louisiana State University--Baton Rouge        Baton Rouge
136                                  Mercer University              Macon
137                 New Jersey Institute of Technology             Newark
138                         Rutgers University--Newark             Newark
139                             University of Arkansas       Fayetteville
140                           University of Cincinnati         Cincinnati
141                          University of Mississippi         University
142                            George Mason University            Fairfax
143                            Oregon State University          Corvallis
144                        Washington State University            Pullman
145                                 Adelphi University        Garden City
146                                    Ohio University             Athens
147                         San Diego State University          San Diego
148                            St. John Fisher College          Rochester
149                         University at Albany--SUNY             Albany
150                        University of Texas--Dallas         Richardson
151                          Illinois State University             Normal
152                              Immaculata University         Immaculata
153                          Oklahoma State University         Stillwater
154                   University of California--Merced             Merced
155                    University of Illinois--Chicago            Chicago
156                             University of La Verne           La Verne
157                University of Massachusetts--Lowell             Lowell
158                         Seattle Pacific University            Seattle
159                  University of Alabama--Birmingham         Birmingham
160           University of Maryland--Baltimore County          Baltimore
161                         University of Rhode Island           Kingston
162                        University of South Florida              Tampa
163                                   Biola University          La Mirada
164                  Maryville University of St. Louis           St Louis
165        Missouri University of Science & Technology              Rolla
166                              St. John's University             Queens
167                   Virginia Commonwealth University           Richmond
168                                   Union University            Jackson
169                        University of Hawaii--Manoa           Honolulu
170                                   Edgewood College            Madison
171                    Florida Institute of Technology          Melbourne
172                                University of Idaho             Moscow
173                           University of Louisville         Louisville
174                              University of Wyoming            Laramie
175                              Ball State University             Muncie
176                                Lipscomb University          Nashville
177                       Mississippi State University  Mississippi State
178                         Montclair State University          Montclair
179                              Texas Tech University            Lubbock
180                      University of Central Florida            Orlando
181                           University of New Mexico        Albuquerque
182                                 Andrews University    Berrien Springs
183                           Azusa Pacific University              Azusa
184                                University of Maine              Orono
185                           West Virginia University         Morgantown
186                                 Widener University            Chester
187                              Kent State University               Kent
188                      North Dakota State University              Fargo
189                                    Pace University           New York
190                           Robert Morris University      Moon Township
191                                 Suffolk University             Boston
192                             University of Hartford      West Hartford
193                     Bowling Green State University      Bowling Green
194                              University of Houston            Houston
195                        Western Michigan University          Kalamazoo
196  Indiana University-Purdue University--Indianap...       Indianapolis
197                                  Lesley University          Cambridge
198                  University of Alabama--Huntsville         Huntsville
199                     University of Colorado--Denver             Denver
200                         University of Nevada--Reno               Reno
201             California State University--Fullerton          Fullerton
202                        Central Michigan University     Mount Pleasant
203                          Louisiana Tech University             Ruston
204                      South Dakota State University          Brookings
205                    University of Alaska--Fairbanks          Fairbanks
206            University of North Carolina--Charlotte          Charlotte
207                         University of North Dakota        Grand Forks
208                         University of South Dakota         Vermillion
209                           East Carolina University         Greenville
210                           Montana State University            Bozeman
211                            Old Dominion University            Norfolk
212                University of Missouri--Kansas City        Kansas City
213                                 Ashland University            Ashland
214                          Dallas Baptist University             Dallas
215                       Northern Illinois University             DeKalb
216                       Nova Southeastern University     Ft. Lauderdale
217           Southern Illinois University--Carbondale         Carbondale
218                              University of Montana           Missoula
219                             Benedictine University              Lisle
220                California State University--Fresno             Fresno
221                            Gardner-Webb University    Boiling Springs
222                        New Mexico State University         Las Cruces
223                              Shenandoah University         Winchester
224                 Tennessee Technological University         Cookeville
225                University of Massachusetts--Boston             Boston
226             University of Massachusetts--Dartmouth    North Dartmouth
227                  University of Missouri--St. Louis          St. Louis
228           University of North Carolina--Greensboro         Greensboro
229                 University of Southern Mississippi        Hattiesburg
230                              Utah State University              Logan